body{
    margin:0;
    padding:0;
    background-color:white;
    color:black;
    font-family:'Noto Sans', sans-serif;
    font-size:14px;
    line-height: 140%;
    font-weight: 400;
}
main{
    box-sizing:border-box;
    min-width:1366px;/*Взято из фигмы*/
    max-width:1366px;
    margin:98px;
}
/*Оформление текста*/
h1{
font-family: 'Noto Sans', sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 33px;
color: #0D0417;
margin-top:20px;
margin-bottom:0;
}
h2{
margin-top:0;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #0D0417;
}
.card-text{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 140%;
    color: #0D0417;
    }
.card-info__code{
font-family: 'Noto Sans', sans-serif;
font-size: 14px;
line-height: 19px;
color: #787878;
margin-top:0;
margin-bottom:0;
}
.card-info__price{
font-family: 'Noto Sans', sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 44px;
color: #0D0417;   
padding-right:30px;
}
.card-info__reviews{
text-decoration:none;
font-family: 'Noto Sans';
font-size: 14px;
line-height: 19px;
color: #0D0417;
}
.card-info__reviews:hover{
text-decoration:underline;
text-decoration-color: black;
}
.card-info__reviews:focus{
text-decoration:underline;
text-decoration-color:#F8D456;
text-decoration-thickness:  2px;
}
.card-info___reviews:disabled{
    color: #B6B6BF;
}
.card-info__reviews:visited{
    color: #797980;
}
.card-info__link{
text-decoration:none;
font-family: 'Noto Sans';
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: #0D0417;
}
.card-info__link:focus{
text-decoration:underline;
text-decoration-color:#F8D456;
}
.card-info__link:visited{
    color: #797980;
}
.card-info___link:disabled{
color: #B6B6BF;
}
.card{
    display:flex;
    
}
/*Блок с фото*/
.card__img-container{
    box-sizing:border-box;
    flex-shrink: 0;
    margin-right:30px;/*отступ между фото и инфой из фигмы*/
    border-radius:8px;
}
.card__img-container img{
    display:block;/*чтобы не искажалось при изменении размера окна браузера*/
    max-width:100%;
    height:auto;
}
/*Блок с текстом*/
.card__info-container{
    width:470px;
    background-color:#F5F5F5;
    border-radius: 8px;
}
.card-info{
    display: grid;
    box-sizing: border-box;
    grid-template-rows:
      repeat(3, auto)
      1fr
      repeat(2, auto);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 30px;
    padding-left: 30px;
}
/*Выстроим в ряд цену, рейтинг и ссылку на отзывы*/
.card-info-price-rate-review{
    display:flex;
    align-items:center;
}
/*Выстроим в ряд кнопки*/
.card-info-button-block{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
/*Характеристики*/
.data-list{
  border-bottom: 1px solid rgba(13, 4, 23, 0.1);
  display:flex;
  justify-content:space-between;
  box-sizing: border-box;
  padding-bottom:10px;
  padding-top:10px;
}

dt{
font-size: 14px;
line-height: 19px;
color: #787878;
}
dd{
font-family: 'Noto Sans';
font-size: 14px;
line-height: 19px;
color: #0D0417;
}
/*Рейтинг*/
.rate{
    display:flex;
    padding-right:15px;
}
.rate-star{
    display:block;
}
/*Кнопка купить*/
.buy-link{
    display:inline-block;
    background-color: #F8D456;
    border-radius: 6px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    position: relative;
    margin-right:30px;
    border-bottom-width: 0;
    border:2px solid #F8D456;
}
.buy-link:hover{
    background-color:inherit;
    border:2px solid #F8D456;
}
.buy-link:focus{
background-color:#F8D456;
border:2px solid #0D0417;
}
.buy-link:disabled{
    background-color:#E5E4E1;
    color:#A6A5A2;
}
.card-info__link::after{
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("img/arrow left.svg");
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    background-size: 3px 6px;
    border-radius:50%;
    margin-left:20px;
}
.card-info__link:hover::after{
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("img/arrow left.svg");
    background-color:#F8D456;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    background-size: 3px 6px;
    border-radius:50%;
    margin-left:20px;
}
